@font-face {
    font-family: "Roboto-Regular";
    /* apelido */
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Black";
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: "TitilliumWeb-Bold";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* reset da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 
        propriedades de fonts são herdáveis porém os 
        links e campos de formulários não as herdam 
    */
    font-family: "Roboto-Regular";
    font-size: 16px;
    color: white;
}

/* CSS GENÉRICO */
.showNavbar {
    left: 0 !important;
    opacity: 0.95 !important;
}

/****************** CUSTOMIZAÇÃO DO BOOTSTRAP ******************/
.container {
    /* por padrão o bootstrap tem o max-width de 1320px */
    max-width: 1200px;
    /* background-color: #C31616; */
}



/****************** HEADER ******************/
header {
    background-color: #1E1C21;
}

.container-grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    /* background-color: #bb8787; */
}



header .header-flex {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    width: 280px;
}

/* navbar */
header .menu {
    width: 60%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */
}

/* links */
header .menu .item-menu {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
}

.hamburger-icon {display: none;}


/****************** BANNER ******************/

.banner {
    height: 600px;
    background-color: salmon;
    background-image: url(../images/banner_pilotos.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .banner-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
    /* border: 3px solid salmon; */
}

.banner .banner-box .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 500px;
    height: 280px;
    /* border: 1px solid white; */

    font-family: "Roboto-Regular";
    color: white;
}

.banner .banner-box .banner-info h2 {
    font-family: "TitilliumWeb-Bold";
    font-size: 75px;
    text-align: center;
}

.banner .banner-box .banner-info p {
    margin-top: -50px;
    font-size: 25px;
    text-align: center;
}

.banner .banner-info .botao-banner {
    align-self: center;
    /* propriedade para filho/item flex somente ele!! */
    width: 260px;
    height: 50px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #C31616;
    border-radius: 10px;
}

/**************** PRODUTOS  ****************/
.produtos {
    padding: 40px 0;
    background-color: #1E1C21;


}

.produtos h2 {
    margin-bottom: 40px;
}

.produtos .card {
    max-width: 250px;
    min-width: 230px;
    margin-bottom: 20px;

    background-image: linear-gradient(to bottom, #1E1C21, #343434);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}


.produtos .card-title {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.produtos .card-buy {
    width: 100%;
    margin-top: 10px;
    background-color: #C31616;
    text-transform: uppercase;
    border: 1px solid #C31616;
    border-radius: 10px;
}

/* TABLETS */
@media screen and (max-width: 991px) {
    /* imagem alternativa para o tablet
    .banner {
        background-image: url(../images/banner_lol.png);
        
    } */



    header .menu {
        position: fixed;
        /* Referencial Viewport */
        top: 0;
        /*top/bottom */
        left: -80%;
        /*left/right */
        z-index: 10;
        /*controle de camada */

        /* flex */
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 80%;
        height: 100%;
        background-color: #1E1C21;
        opacity: 0;

        transition: left 0.4s, opacity 0.5s;
    }

    header .menu a {
        border-left: 3px dotted white;
        width: 80%;
        margin-bottom: 20px;
        font-size: 1.4rem;
        padding: 20px;
    }

    header .hamburger-icon {
        width: 40px;
    }

    .hamburger-icon {display: block;}


}

/* Smartphone */
@media screen and (max-width: 767px) {
    header .logotipo {
        width: 240px;
    }
    
    header .hamburger-icon {
        width: 35px;
    }
    
    header .menu a {
        border-left: 2px dotted white;
        margin-bottom: 15px;
        font-size: 1rem;
        padding: 10px;
    }
}