/* 
    CSS TRICKS
        https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    
        ORIGAMID
        https://origamid.com/projetos/flexbox-guia-completo/

    MDN
        https://developer.mozilla.org/pt-BR/docs/Learn/CSS/CSS_layout/Flexbox

    W3SCHOOLS
        https://developer.mozilla.org/pt-BR/docs/Learn/CSS/CSS_layout/Flexbox
    
    JOGO DO FROGGY
        https://flexboxfroggy.com/
        
    GIT E GITHUB PARA INICIANTES UDEMY GRATUITO
        https://www.udemy.com/course/git-e-github-para-iniciantes/

*/

@font-face {
     font-family: "Roboto-Regular"; /* apelido */
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
/* reset da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
}

.container-grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    /* background-color: #bb8787; */
}



header .header-flex {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
header .logotipo {
    width: 280px;
}

/* navbar */
header .menu {
    width: 60%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */
}

/* links */
header .menu  .item-menu {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
}